################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ApanaTimeAPI/.vs/ApanaTimeAPI
/ApanaTimeAPI/obj
/ApanaTimeAPI/bin/Debug/net8.0
